mard-ws/xsd/p01/BNNPTNT06000042550.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Envelope">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Header">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Reference">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="version" nillable="true" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="50"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="messageId" nillable="true" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="36"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="From">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="name">
                                            <xs:simpleType>
                                                <xs:restriction base="NonEmptyString">
                                                    <xs:maxLength value="255"></xs:maxLength>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element type="xs:string" name="identity"></xs:element>
                                        <xs:element name="countryCode">
                                            <xs:simpleType>
                                                <xs:restriction base="NonEmptyString">
                                                    <xs:maxLength value="2"></xs:maxLength>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="ministryCode">
                                            <xs:simpleType>
                                                <xs:restriction base="NonEmptyString">
                                                    <xs:maxLength value="20"></xs:maxLength>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="organizationCode">
                                            <xs:simpleType>
                                                <xs:restriction base="NonEmptyString">
                                                    <xs:maxLength value="20"></xs:maxLength>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="unitCode" nillable="true" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="20"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="To">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="name">
                                            <xs:simpleType>
                                                <xs:restriction base="NonEmptyString">
                                                    <xs:maxLength value="255"></xs:maxLength>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element type="xs:string" name="identity"></xs:element>
                                        <xs:element name="countryCode">
                                            <xs:simpleType>
                                                <xs:restriction base="NonEmptyString">
                                                    <xs:maxLength value="2"></xs:maxLength>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="ministryCode">
                                            <xs:simpleType>
                                                <xs:restriction base="NonEmptyString">
                                                    <xs:maxLength value="20"></xs:maxLength>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="organizationCode">
                                            <xs:simpleType>
                                                <xs:restriction base="NonEmptyString">
                                                    <xs:maxLength value="20"></xs:maxLength>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="unitCode" nillable="true" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="20"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Subject">
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element name="documentType">
                                            <xs:simpleType>
                                                <xs:restriction base="NonEmptyString">
                                                    <xs:maxLength value="100"></xs:maxLength>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="type">
                                            <xs:simpleType>
                                                <xs:restriction base="NonEmptyString">
                                                    <xs:maxLength value="3"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="function">
                                            <xs:simpleType>
                                                <xs:restriction base="NonEmptyString">
                                                    <xs:maxLength value="3"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="reference">
                                            <xs:simpleType>
                                                <xs:restriction base="NonEmptyString">
                                                    <xs:maxLength value="35"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element type="xs:short" name="documentYear"></xs:element>
                                        <xs:element type="xs:short" name="preDocumentYear" nillable="true"
                                                    minOccurs="0"></xs:element>
                                        <xs:element name="preReference">
                                            <xs:simpleType>
                                                <xs:restriction base="NonEmptyString">
                                                    <xs:maxLength value="35"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="sendDate">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:pattern
                                                            value="(\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]) ([01]\d|2[0-3])(:[0-5]\d){2}(\.\d{3})?)"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:all>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:string" name="Signature" nillable="true" minOccurs="0"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Body">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Content">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" name="CertificateChina" nillable="true">
                                            <xs:complexType>
                                                <xs:all>
                                                    <xs:element name="HealthCertificateNoVni">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="50"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="DepartmentCode">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="50"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="DepartmentNameVni">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="250"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="DepartmentName">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="250"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="AnimalQuarantineOrganizationCode">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="50"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="AnimalQuarantineOrganizationName">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="250"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="ExportName">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="250"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="ExportAdress">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="250"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="ExporterTel">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="50"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="ExporterFax">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="50"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="ExporterEmail">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="250"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="ConsigneeNameAddress">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="500"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="ConsigneeTel">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="50"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="ConsigneeFax">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="50"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="ConsigneeEmail">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="250"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element minOccurs="0" name="AnimalProductList" nillable="true">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element maxOccurs="unbounded" minOccurs="0"
                                                                            name="AnimalProduct" nillable="true">
                                                                    <xs:complexType>
                                                                        <xs:all>
                                                                            <xs:element name="ID">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction
                                                                                            base="NonEmptyString">
                                                                                        <xs:maxLength value="250"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element minOccurs="0" name="HSCode"
                                                                                        nillable="true">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string">
                                                                                        <xs:maxLength value="50"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element name="TypeProduct">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction
                                                                                            base="NonEmptyString">
                                                                                        <xs:maxLength value="250"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element name="BactchNumber">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction
                                                                                            base="NonEmptyString">
                                                                                        <xs:maxLength value="250"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element name="PackageType">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction
                                                                                            base="NonEmptyString">
                                                                                        <xs:maxLength value="250"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element name="NumberPackage">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:long">
                                                                                        <xs:maxExclusive
                                                                                                value="1000000000000000"/>
                                                                                        <xs:minInclusive value="0"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element name="UnitCode">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction
                                                                                            base="NonEmptyString">
                                                                                        <xs:maxLength value="5"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element name="Unit">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction
                                                                                            base="NonEmptyString">
                                                                                        <xs:maxLength value="50"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element name="NetWeight">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:decimal">
                                                                                        <xs:maxExclusive
                                                                                                value="1000000000000000"/>
                                                                                        <xs:fractionDigits value="2"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element name="NetWeightUnitName">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction
                                                                                            base="NonEmptyString">
                                                                                        <xs:maxLength value="50"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                        </xs:all>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="TemperatureProductName">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:short">
                                                                <xs:maxExclusive value="10"/>
                                                                <xs:minInclusive value="0"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="ProcessingNameAddress">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="500"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="ProcessingNumberRegistration">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="50"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="ProcessingTel">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="50"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="ProcessingFax">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="15"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="DateProduct">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:pattern
                                                                        value="(\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]) ([01]\d|2[0-3])(:[0-5]\d){2}(\.\d{3})?)?"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="DateExpiry">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:pattern
                                                                        value="(\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]) ([01]\d|2[0-3])(:[0-5]\d){2}(\.\d{3})?)?"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element minOccurs="0" name="PortShipmentCode" nillable="true">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:maxLength value="50"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="PortShipmentName">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="100"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="DateDeparture">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:pattern
                                                                        value="(\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]) ([01]\d|2[0-3])(:[0-5]\d){2}(\.\d{3})?)?"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="MeansTransportName">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:short">
                                                                <xs:maxExclusive value="10"/>
                                                                <xs:minInclusive value="0"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element minOccurs="0" name="EntryPointCode" nillable="true">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:maxLength value="50"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="EntryPointName">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="250"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="Containe">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="500"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element minOccurs="0" name="HealthCertificate" nillable="true">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:maxLength value="5000"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element minOccurs="0" name="Note" nillable="true">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:maxLength value="100"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="ExpertName">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="100"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="SignResultDate">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:pattern
                                                                        value="(\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]) ([01]\d|2[0-3])(:[0-5]\d){2}(\.\d{3})?)?"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="HealthCertificateEndDate">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:pattern
                                                                        value="(\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]) ([01]\d|2[0-3])(:[0-5]\d){2}(\.\d{3})?)?"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="SignResultPlace">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="250"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="SignResultName">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="100"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element minOccurs="0" name="LinkFile" nillable="true">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:maxLength value="1000"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                </xs:all>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:string" name="Signature" nillable="true" minOccurs="0"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="NonEmptyString">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:pattern value="(\s*[^\s]\s*)+"></xs:pattern>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>