mard-ws/xsd/mard04_1207.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Envelope">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Header">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Reference">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:int" name="version"></xs:element>
                                        <xs:element type="xs:string" name="messageId"></xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="From">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="name">
                                            <xs:simpleType>
                                                <xs:restriction base="NonEmptyString">
                                                    <xs:maxLength value="255"></xs:maxLength>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="identity">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="13"></xs:maxLength>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="countryCode">
                                            <xs:simpleType>
                                                <xs:restriction base="NonEmptyString">
                                                    <xs:maxLength value="2"></xs:maxLength>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="ministryCode">
                                            <xs:simpleType>
                                                <xs:restriction base="NonEmptyString">
                                                    <xs:maxLength value="20"></xs:maxLength>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="organizationCode">
                                            <xs:simpleType>
                                                <xs:restriction base="NonEmptyString">
                                                    <xs:maxLength value="20"></xs:maxLength>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="unitCode">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="20"></xs:maxLength>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="To">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="name">
                                            <xs:simpleType>
                                                <xs:restriction base="NonEmptyString">
                                                    <xs:maxLength value="255"></xs:maxLength>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="identity">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="13"></xs:maxLength>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="countryCode">
                                            <xs:simpleType>
                                                <xs:restriction base="NonEmptyString">
                                                    <xs:maxLength value="2"></xs:maxLength>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="ministryCode">
                                            <xs:simpleType>
                                                <xs:restriction base="NonEmptyString">
                                                    <xs:maxLength value="20"></xs:maxLength>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="organizationCode">
                                            <xs:simpleType>
                                                <xs:restriction base="NonEmptyString">
                                                    <xs:maxLength value="20"></xs:maxLength>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="unitCode">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="20"></xs:maxLength>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Subject">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="documentType">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="100"></xs:maxLength>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="type">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="3"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="function">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="3"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="reference">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="50"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element type="xs:short" name="documentYear"></xs:element>
                                        <xs:element name="preReference">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="50"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="sendDate">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:pattern
                                                            value="(\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]) ([01]\d|2[0-3])(:[0-5]\d){2}(\.\d{3})?)"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Body">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Content">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="RegistrationComfirm">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="NSWFileCode" nillable="false">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:maxLength value="35"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="RegistrationComfirmNo" minOccurs="0"
                                                                nillable="true">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:maxLength value="50"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="DepartmentCode" nillable="false">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="12"/>
                                                            </xs:restriction>

                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="DepartmentName" nillable="false">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="250"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="AssignCode" minOccurs="0" nillable="true">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="12"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="AssignName" minOccurs="0" nillable="true">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="250"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="QuarantineLocation" nillable="false">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="500"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="QuarantineDate" nillable="false">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:pattern
                                                                        value="(\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]) ([01]\d|2[0-3])(:[0-5]\d){2}(\.\d{3})?)"/>
                                                                <xs:maxLength value="250"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="RegistrationType" nillable="false">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="1"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="FoodsType" minOccurs="0" nillable="true">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="1"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="InpectionType" minOccurs="0" nillable="true">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="1"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="NoticeOfExemptionFromInspectionNo" minOccurs="0"
                                                                nillable="true">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="20"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="NoticeDate" minOccurs="0" nillable="true">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:pattern
                                                                        value="(\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]) ([01]\d|2[0-3])(:[0-5]\d){2}(\.\d{3})?)?"/>
                                                                <xs:maxLength value="250"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="SignConfirmDate" nillable="false">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:pattern
                                                                        value="(\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]) ([01]\d|2[0-3])(:[0-5]\d){2}(\.\d{3})?)"/>
                                                                <xs:maxLength value="250"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="SignConfirmName" nillable="false">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="100"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="SignConfirmAddress" nillable="false">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="100"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>

                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:string" name="Signature" minOccurs="0" nillable="true"></xs:element>

                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="NonEmptyString">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:pattern value="(\s*[^\s]\s*)+"></xs:pattern>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>