mard-ws/xsd/p09/BNNPTNT06000122524.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Envelope">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Header">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Reference">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="version" nillable="true" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="50"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="messageId" nillable="true" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="36"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="From">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="name">
                                            <xs:simpleType>
                                                <xs:restriction base="NonEmptyString">
                                                    <xs:maxLength value="255"></xs:maxLength>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element type="xs:string" name="identity"></xs:element>
                                        <xs:element name="countryCode">
                                            <xs:simpleType>
                                                <xs:restriction base="NonEmptyString">
                                                    <xs:maxLength value="2"></xs:maxLength>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="ministryCode">
                                            <xs:simpleType>
                                                <xs:restriction base="NonEmptyString">
                                                    <xs:maxLength value="20"></xs:maxLength>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="organizationCode">
                                            <xs:simpleType>
                                                <xs:restriction base="NonEmptyString">
                                                    <xs:maxLength value="20"></xs:maxLength>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="unitCode" nillable="true" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="20"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="To">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="name">
                                            <xs:simpleType>
                                                <xs:restriction base="NonEmptyString">
                                                    <xs:maxLength value="255"></xs:maxLength>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element type="xs:string" name="identity"></xs:element>
                                        <xs:element name="countryCode">
                                            <xs:simpleType>
                                                <xs:restriction base="NonEmptyString">
                                                    <xs:maxLength value="2"></xs:maxLength>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="ministryCode">
                                            <xs:simpleType>
                                                <xs:restriction base="NonEmptyString">
                                                    <xs:maxLength value="20"></xs:maxLength>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="organizationCode">
                                            <xs:simpleType>
                                                <xs:restriction base="NonEmptyString">
                                                    <xs:maxLength value="20"></xs:maxLength>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="unitCode" nillable="true" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="20"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Subject">
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element name="documentType">
                                            <xs:simpleType>
                                                <xs:restriction base="NonEmptyString">
                                                    <xs:maxLength value="100"></xs:maxLength>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="type">
                                            <xs:simpleType>
                                                <xs:restriction base="NonEmptyString">
                                                    <xs:maxLength value="3"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="function">
                                            <xs:simpleType>
                                                <xs:restriction base="NonEmptyString">
                                                    <xs:maxLength value="3"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="reference">
                                            <xs:simpleType>
                                                <xs:restriction base="NonEmptyString">
                                                    <xs:maxLength value="35"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element type="xs:short" name="documentYear"></xs:element>
                                        <xs:element type="xs:short" name="preDocumentYear" nillable="true"
                                                    minOccurs="0"></xs:element>
                                        <xs:element name="preReference">
                                            <xs:simpleType>
                                                <xs:restriction base="NonEmptyString">
                                                    <xs:maxLength value="35"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="sendDate">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:pattern
                                                            value="(\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]) ([01]\d|2[0-3])(:[0-5]\d){2}(\.\d{3})?)"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:all>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:string" name="Signature" nillable="true" minOccurs="0"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Body">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Content">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" name="TransportResult" nillable="true">
                                            <xs:complexType>
                                                <xs:all>
                                                    <xs:element name="CertificateNo">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="100"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="NameOfRegistration">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="100"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="AddressOfRegistration">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="255"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="IdentityNo">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="255"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="IssueDate">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:pattern
                                                                        value="(\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]) ([01]\d|2[0-3])(:[0-5]\d){2}(\.\d{3})?)?"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="IssuePlace">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="255"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="PhoneOfRegistration">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="50"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="FaxOfRegistration">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="50"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="EmailOfRegistration">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="100"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element minOccurs="0" name="BillOfLadingNo" nillable="true">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:maxLength value="50"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element minOccurs="0" name="BillOfLadingIssuedDate"
                                                                nillable="true">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:pattern
                                                                        value="(\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]) ([01]\d|2[0-3])(:[0-5]\d){2}(\.\d{3})?)?"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="GoodsList">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element maxOccurs="unbounded" name="Goods">
                                                                    <xs:complexType>
                                                                        <xs:all>
                                                                            <xs:element name="NameOfGoods">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction
                                                                                            base="NonEmptyString">
                                                                                        <xs:maxLength value="255"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element name="CodeOfGoods">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction
                                                                                            base="NonEmptyString">
                                                                                        <xs:maxLength value="100"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element minOccurs="0" name="Age"
                                                                                        nillable="true">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:long">
                                                                                        <xs:maxExclusive
                                                                                                value="1000000000000000"/>
                                                                                        <xs:minInclusive value="0"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element minOccurs="0" name="IncludeMale"
                                                                                        nillable="true">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:short">
                                                                                        <xs:maxExclusive value="10"/>
                                                                                        <xs:minInclusive value="0"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element minOccurs="0"
                                                                                        name="IncludeFemale"
                                                                                        nillable="true">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:short">
                                                                                        <xs:maxExclusive value="10"/>
                                                                                        <xs:minInclusive value="0"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element minOccurs="0"
                                                                                        name="WayOfPackinglist"
                                                                                        nillable="true">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string">
                                                                                        <xs:maxLength value="255"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element name="QuantityOrVolumn">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:long">
                                                                                        <xs:maxExclusive
                                                                                                value="1000000000000000"/>
                                                                                        <xs:minInclusive value="0"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element minOccurs="0"
                                                                                        name="QuantityUnitCode"
                                                                                        nillable="true">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string">
                                                                                        <xs:maxLength value="18"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element minOccurs="0"
                                                                                        name="QuantityUnitName"
                                                                                        nillable="true">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string">
                                                                                        <xs:maxLength value="255"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element minOccurs="0" name="NetWeight"
                                                                                        nillable="true">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:decimal">
                                                                                        <xs:maxExclusive
                                                                                                value="1000000000000000"/>
                                                                                        <xs:fractionDigits value="3"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element minOccurs="0"
                                                                                        name="NetWeightUnitCode"
                                                                                        nillable="true">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string">
                                                                                        <xs:maxLength value="18"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element minOccurs="0"
                                                                                        name="NetWeightUnitName"
                                                                                        nillable="true">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string">
                                                                                        <xs:maxLength value="255"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element minOccurs="0" name="GrossWeight"
                                                                                        nillable="true">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:decimal">
                                                                                        <xs:maxExclusive
                                                                                                value="1000000000000000"/>
                                                                                        <xs:fractionDigits value="3"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element minOccurs="0"
                                                                                        name="GrossWeightUnitName"
                                                                                        nillable="true">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string">
                                                                                        <xs:maxLength value="255"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element name="PurposeUse">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction
                                                                                            base="NonEmptyString">
                                                                                        <xs:maxLength value="255"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element name="TotalQuantityOrVolumn">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:decimal">
                                                                                        <xs:maxExclusive
                                                                                                value="1000000000000000"/>
                                                                                        <xs:fractionDigits value="3"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                        </xs:all>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="TotalQuantityOrVolumnByText">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="255"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="NameOfExporter">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="255"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="AddressOfExporter">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="255"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="OriginationExport">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="255"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element minOccurs="0" name="OriginationTransit" nillable="true">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:maxLength value="256"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element minOccurs="0" name="PortOfDestinationCode"
                                                                nillable="true">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:maxLength value="50"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="PortOfDestinationName">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="255"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="ImportDate">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:pattern
                                                                        value="(\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]) ([01]\d|2[0-3])(:[0-5]\d){2}(\.\d{3})?)?"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="PortOfDestinationAddress">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="255"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element minOccurs="0" name="OtherItems" nillable="true">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:maxLength value="255"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element minOccurs="0" name="DocumentAttach" nillable="true">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:maxLength value="255"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="TransportType">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="255"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="LicensePlate">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="255"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="AnimalOfAntiseptic">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="255"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="AnimalOfConcentration">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="255"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="TransportTypeOfAntiseptic">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="255"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="TransportTypeOfConcentration">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="255"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="TransportDate">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:pattern
                                                                        value="(\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]) ([01]\d|2[0-3])(:[0-5]\d){2}(\.\d{3})?)?"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="TransportPlace">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="255"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="TransportStreet">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="255"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="EffectiveDate">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:pattern
                                                                        value="(\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]) ([01]\d|2[0-3])(:[0-5]\d){2}(\.\d{3})?)?"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="CreaterName">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="100"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="SignConfirmDate">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:pattern
                                                                        value="(\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]) ([01]\d|2[0-3])(:[0-5]\d){2}(\.\d{3})?)?"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="SignConfirmName">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="100"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="SignConfirmAddress">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="100"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="DepartmentLisenceName">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="100"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element minOccurs="0" name="LinkFile" nillable="true">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:maxLength value="1000"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                </xs:all>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:string" name="Signature" nillable="true" minOccurs="0"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="NonEmptyString">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:pattern value="(\s*[^\s]\s*)+"></xs:pattern>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>