mard-ws/xsd/p09/BNNPTNT06000121916.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Envelope">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Header">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Reference">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="version" nillable="true" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="50"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="messageId" nillable="true" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="36"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="From">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="name">
                                            <xs:simpleType>
                                                <xs:restriction base="NonEmptyString">
                                                    <xs:maxLength value="255"></xs:maxLength>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element type="xs:string" name="identity"></xs:element>
                                        <xs:element name="countryCode">
                                            <xs:simpleType>
                                                <xs:restriction base="NonEmptyString">
                                                    <xs:maxLength value="2"></xs:maxLength>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="ministryCode">
                                            <xs:simpleType>
                                                <xs:restriction base="NonEmptyString">
                                                    <xs:maxLength value="20"></xs:maxLength>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="organizationCode">
                                            <xs:simpleType>
                                                <xs:restriction base="NonEmptyString">
                                                    <xs:maxLength value="20"></xs:maxLength>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="unitCode" nillable="true" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="20"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="To">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="name">
                                            <xs:simpleType>
                                                <xs:restriction base="NonEmptyString">
                                                    <xs:maxLength value="255"></xs:maxLength>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element type="xs:string" name="identity"></xs:element>
                                        <xs:element name="countryCode">
                                            <xs:simpleType>
                                                <xs:restriction base="NonEmptyString">
                                                    <xs:maxLength value="2"></xs:maxLength>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="ministryCode">
                                            <xs:simpleType>
                                                <xs:restriction base="NonEmptyString">
                                                    <xs:maxLength value="20"></xs:maxLength>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="organizationCode">
                                            <xs:simpleType>
                                                <xs:restriction base="NonEmptyString">
                                                    <xs:maxLength value="20"></xs:maxLength>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="unitCode" nillable="true" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="20"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Subject">
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element name="documentType">
                                            <xs:simpleType>
                                                <xs:restriction base="NonEmptyString">
                                                    <xs:maxLength value="100"></xs:maxLength>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="type">
                                            <xs:simpleType>
                                                <xs:restriction base="NonEmptyString">
                                                    <xs:maxLength value="3"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="function">
                                            <xs:simpleType>
                                                <xs:restriction base="NonEmptyString">
                                                    <xs:maxLength value="3"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="reference">
                                            <xs:simpleType>
                                                <xs:restriction base="NonEmptyString">
                                                    <xs:maxLength value="35"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element type="xs:short" name="documentYear"></xs:element>
                                        <xs:element type="xs:short" name="preDocumentYear" nillable="true"
                                                    minOccurs="0"></xs:element>
                                        <xs:element name="preReference">
                                            <xs:simpleType>
                                                <xs:restriction base="NonEmptyString">
                                                    <xs:maxLength value="35"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="sendDate">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:pattern
                                                            value="(\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]) ([01]\d|2[0-3])(:[0-5]\d){2}(\.\d{3})?)"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:all>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:string" name="Signature" nillable="true" minOccurs="0"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Body">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Content">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" name="QualityResult" nillable="true">
                                            <xs:complexType>
                                                <xs:all>
                                                    <xs:element name="RegistrationComfirmNo">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="50"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="QuanlityCerNo">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="50"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="DepartmentCode">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="50"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="DepartmentName">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="255"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="DepartmentAddress">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="255"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element minOccurs="0" name="DepartmentPhone" nillable="true">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:maxLength value="15"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element minOccurs="0" name="DepartmentFax" nillable="true">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:maxLength value="15"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="SellerStateCode">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="12"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="SellerStateName">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="255"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="SellerAddress">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="255"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element minOccurs="0" name="SellerPhone" nillable="true">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:maxLength value="50"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element minOccurs="0" name="SellerFax" nillable="true">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:maxLength value="50"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="PortOfDepartureName">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="255"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="BuyerName">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="255"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="BuyerAddress">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="255"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="BuyerPhone">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="50"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element minOccurs="0" name="BuyerFax" nillable="true">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:maxLength value="50"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element minOccurs="0" name="PortOfDestinationCode"
                                                                nillable="true">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:maxLength value="15"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="PortOfDestinationName">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="255"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="GoodsList">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element maxOccurs="unbounded" name="Goods">
                                                                    <xs:complexType>
                                                                        <xs:all>
                                                                            <xs:element name="CodeOfGoods">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction
                                                                                            base="NonEmptyString">
                                                                                        <xs:maxLength value="50"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element name="NameOfGoods">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction
                                                                                            base="NonEmptyString">
                                                                                        <xs:maxLength value="255"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element name="QuantityOrVolumn">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:long">
                                                                                        <xs:maxExclusive
                                                                                                value="1000000000000000"/>
                                                                                        <xs:minInclusive value="0"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element minOccurs="0"
                                                                                        name="QuantityOrVolumnUnitCode"
                                                                                        nillable="true">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string">
                                                                                        <xs:maxLength value="18"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element minOccurs="0"
                                                                                        name="QuantityOrVolumnUnitName"
                                                                                        nillable="true">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string">
                                                                                        <xs:maxLength value="255"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element minOccurs="0"
                                                                                        name="CriteriaAnalysisNo"
                                                                                        nillable="true">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string">
                                                                                        <xs:maxLength value="50"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element name="DescriptionOfGoods">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction
                                                                                            base="NonEmptyString">
                                                                                        <xs:maxLength value="1000"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element name="Result">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:short">
                                                                                        <xs:maxExclusive value="10"/>
                                                                                        <xs:minInclusive value="0"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <xs:element minOccurs="0" name="Reason"
                                                                                        nillable="true">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string">
                                                                                        <xs:maxLength value="1000"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                        </xs:all>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="SignResultDate">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:pattern
                                                                        value="(\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]) ([01]\d|2[0-3])(:[0-5]\d){2}(\.\d{3})?)?"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="SignResultName">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="100"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="SignResultAddress">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="100"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element minOccurs="0" name="LinkFile" nillable="true">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:maxLength value="1000"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                </xs:all>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:string" name="Signature" nillable="true" minOccurs="0"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="NonEmptyString">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:pattern value="(\s*[^\s]\s*)+"></xs:pattern>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>