SBVWs/src/main/resources/common.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://com/vnsw/ws/generated"
           targetNamespace="http://com/vnsw/ws/generated" elementFormDefault="qualified">
    <xs:element name="receiveRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="requestPayload" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="receiveResponse">
    	<xs:complexType>
            <xs:sequence>
                <xs:element name="responsePayload" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>    
</xs:schema>