VNSWReceiveGateway/src/wsdl/10.224.164.13_9090/cosmetic/CosmeticServiceBYT.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.viettel.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.viettel.com/">

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="IOException" type="tns:IOException"/>

<xs:element name="ParseException" type="tns:ParseException"/>

<xs:element name="getMessageFromNSWCosmetic" type="tns:getMessageFromNSWCosmetic"/>

<xs:element name="getMessageFromNSWCosmeticResponse" type="tns:getMessageFromNSWCosmeticResponse"/>

<xs:complexType name="getMessageFromNSWCosmetic">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMessageFromNSWCosmeticResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ParseException">
<xs:sequence>
<xs:element name="errorOffset" type="xs:int"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="IOException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>