mard-ws/xsd/p06/BNNPTNT06000091511.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Envelope">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Header">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Reference">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="version" nillable="true" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="50"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="messageId" nillable="true" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="36"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="From">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="name">
                                            <xs:simpleType>
                                                <xs:restriction base="NonEmptyString">
                                                    <xs:maxLength value="255"></xs:maxLength>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element type="xs:string" name="identity"></xs:element>
                                        <xs:element name="countryCode">
                                            <xs:simpleType>
                                                <xs:restriction base="NonEmptyString">
                                                    <xs:maxLength value="2"></xs:maxLength>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="ministryCode">
                                            <xs:simpleType>
                                                <xs:restriction base="NonEmptyString">
                                                    <xs:maxLength value="20"></xs:maxLength>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="organizationCode">
                                            <xs:simpleType>
                                                <xs:restriction base="NonEmptyString">
                                                    <xs:maxLength value="20"></xs:maxLength>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="unitCode" nillable="true" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="20"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="To">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="name">
                                            <xs:simpleType>
                                                <xs:restriction base="NonEmptyString">
                                                    <xs:maxLength value="255"></xs:maxLength>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element type="xs:string" name="identity"></xs:element>
                                        <xs:element name="countryCode">
                                            <xs:simpleType>
                                                <xs:restriction base="NonEmptyString">
                                                    <xs:maxLength value="2"></xs:maxLength>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="ministryCode">
                                            <xs:simpleType>
                                                <xs:restriction base="NonEmptyString">
                                                    <xs:maxLength value="20"></xs:maxLength>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="organizationCode">
                                            <xs:simpleType>
                                                <xs:restriction base="NonEmptyString">
                                                    <xs:maxLength value="20"></xs:maxLength>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="unitCode" nillable="true" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="20"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Subject">
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element name="documentType">
                                            <xs:simpleType>
                                                <xs:restriction base="NonEmptyString">
                                                    <xs:maxLength value="100"></xs:maxLength>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="type">
                                            <xs:simpleType>
                                                <xs:restriction base="NonEmptyString">
                                                    <xs:maxLength value="3"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="function">
                                            <xs:simpleType>
                                                <xs:restriction base="NonEmptyString">
                                                    <xs:maxLength value="3"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="reference">
                                            <xs:simpleType>
                                                <xs:restriction base="NonEmptyString">
                                                    <xs:maxLength value="35"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element type="xs:short" name="documentYear"></xs:element>
                                        <xs:element type="xs:short" name="preDocumentYear" nillable="true"
                                                    minOccurs="0"></xs:element>
                                        <xs:element name="preReference">
                                            <xs:simpleType>
                                                <xs:restriction base="NonEmptyString">
                                                    <xs:maxLength value="35"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="sendDate">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:pattern
                                                            value="(\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]) ([01]\d|2[0-3])(:[0-5]\d){2}(\.\d{3})?)"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:all>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:string" name="Signature" nillable="true" minOccurs="0"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Body">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Content">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" name="RequestEdit" nillable="true">
                                            <xs:complexType>
                                                <xs:all>
                                                    <xs:element name="RequestDate">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:pattern
                                                                        value="(\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]) ([01]\d|2[0-3])(:[0-5]\d){2}(\.\d{3})?)?"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="Reason">
                                                        <xs:simpleType>
                                                            <xs:restriction base="NonEmptyString">
                                                                <xs:maxLength value="500"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element minOccurs="0" name="RegistrationProfile"
                                                                nillable="true">
                                                        <xs:complexType>
                                                            <xs:all>
                                                                <xs:element name="RegistrationComfirmNo">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="NonEmptyString">
                                                                            <xs:maxLength value="50"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element name="ImporterName">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="NonEmptyString">
                                                                            <xs:maxLength value="200"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element name="ImporterAddress">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="NonEmptyString">
                                                                            <xs:maxLength value="250"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element name="ImporterTel">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="NonEmptyString">
                                                                            <xs:maxLength value="50"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element minOccurs="0" name="ImporterFax"
                                                                            nillable="true">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                            <xs:maxLength value="50"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element name="ImporterEmail">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="NonEmptyString">
                                                                            <xs:maxLength value="250"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element minOccurs="0" name="ProductList"
                                                                            nillable="true">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element maxOccurs="unbounded"
                                                                                        minOccurs="0" name="Product"
                                                                                        nillable="true">
                                                                                <xs:complexType>
                                                                                    <xs:all>
                                                                                        <xs:element name="ProductType">
                                                                                            <xs:simpleType>
                                                                                                <xs:restriction
                                                                                                        base="xs:short">
                                                                                                    <xs:maxExclusive
                                                                                                            value="10"/>
                                                                                                    <xs:minInclusive
                                                                                                            value="0"/>
                                                                                                </xs:restriction>
                                                                                            </xs:simpleType>
                                                                                        </xs:element>
                                                                                        <xs:element name="Id">
                                                                                            <xs:simpleType>
                                                                                                <xs:restriction
                                                                                                        base="xs:long">
                                                                                                    <xs:maxExclusive
                                                                                                            value="1000000000000000"/>
                                                                                                    <xs:minInclusive
                                                                                                            value="0"/>
                                                                                                </xs:restriction>
                                                                                            </xs:simpleType>
                                                                                        </xs:element>
                                                                                        <xs:element
                                                                                                name="ProductBusinessName">
                                                                                            <xs:simpleType>
                                                                                                <xs:restriction
                                                                                                        base="NonEmptyString">
                                                                                                    <xs:maxLength
                                                                                                            value="255"/>
                                                                                                </xs:restriction>
                                                                                            </xs:simpleType>
                                                                                        </xs:element>
                                                                                        <xs:element minOccurs="0"
                                                                                                    name="ProductScienceName"
                                                                                                    nillable="true">
                                                                                            <xs:simpleType>
                                                                                                <xs:restriction
                                                                                                        base="xs:string">
                                                                                                    <xs:maxLength
                                                                                                            value="255"/>
                                                                                                </xs:restriction>
                                                                                            </xs:simpleType>
                                                                                        </xs:element>
                                                                                        <xs:element
                                                                                                name="PackageUnitCode">
                                                                                            <xs:simpleType>
                                                                                                <xs:restriction
                                                                                                        base="NonEmptyString">
                                                                                                    <xs:maxLength
                                                                                                            value="100"/>
                                                                                                </xs:restriction>
                                                                                            </xs:simpleType>
                                                                                        </xs:element>
                                                                                        <xs:element
                                                                                                name="PackageUnitName">
                                                                                            <xs:simpleType>
                                                                                                <xs:restriction
                                                                                                        base="NonEmptyString">
                                                                                                    <xs:maxLength
                                                                                                            value="100"/>
                                                                                                </xs:restriction>
                                                                                            </xs:simpleType>
                                                                                        </xs:element>
                                                                                        <xs:element
                                                                                                name="OriginCountryCode">
                                                                                            <xs:simpleType>
                                                                                                <xs:restriction
                                                                                                        base="NonEmptyString">
                                                                                                    <xs:maxLength
                                                                                                            value="255"/>
                                                                                                </xs:restriction>
                                                                                            </xs:simpleType>
                                                                                        </xs:element>
                                                                                        <xs:element
                                                                                                name="OriginCountryName">
                                                                                            <xs:simpleType>
                                                                                                <xs:restriction
                                                                                                        base="NonEmptyString">
                                                                                                    <xs:maxLength
                                                                                                            value="255"/>
                                                                                                </xs:restriction>
                                                                                            </xs:simpleType>
                                                                                        </xs:element>
                                                                                        <xs:element name="Quantity">
                                                                                            <xs:simpleType>
                                                                                                <xs:restriction
                                                                                                        base="xs:decimal">
                                                                                                    <xs:maxExclusive
                                                                                                            value="1000000000000000"/>
                                                                                                    <xs:fractionDigits
                                                                                                            value="3"/>
                                                                                                </xs:restriction>
                                                                                            </xs:simpleType>
                                                                                        </xs:element>
                                                                                        <xs:element name="SizeOrType">
                                                                                            <xs:simpleType>
                                                                                                <xs:restriction
                                                                                                        base="xs:decimal">
                                                                                                    <xs:maxExclusive
                                                                                                            value="1000000000000000"/>
                                                                                                    <xs:fractionDigits
                                                                                                            value="1"/>
                                                                                                </xs:restriction>
                                                                                            </xs:simpleType>
                                                                                        </xs:element>
                                                                                    </xs:all>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element minOccurs="0" name="ExporterCountryList"
                                                                            nillable="true">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element maxOccurs="unbounded"
                                                                                        minOccurs="0"
                                                                                        name="ExporterCountry"
                                                                                        nillable="true">
                                                                                <xs:complexType>
                                                                                    <xs:all>
                                                                                        <xs:element
                                                                                                name="ExporterCountryName">
                                                                                            <xs:simpleType>
                                                                                                <xs:restriction
                                                                                                        base="NonEmptyString">
                                                                                                    <xs:maxLength
                                                                                                            value="255"/>
                                                                                                </xs:restriction>
                                                                                            </xs:simpleType>
                                                                                        </xs:element>
                                                                                        <xs:element
                                                                                                name="ExporterCountryAddress">
                                                                                            <xs:simpleType>
                                                                                                <xs:restriction
                                                                                                        base="NonEmptyString">
                                                                                                    <xs:maxLength
                                                                                                            value="255"/>
                                                                                                </xs:restriction>
                                                                                            </xs:simpleType>
                                                                                        </xs:element>
                                                                                    </xs:all>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element minOccurs="0" name="ProcessingList"
                                                                            nillable="true">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element maxOccurs="unbounded"
                                                                                        minOccurs="0" name="Processing"
                                                                                        nillable="true">
                                                                                <xs:complexType>
                                                                                    <xs:all>
                                                                                        <xs:element
                                                                                                name="ProcessingName">
                                                                                            <xs:simpleType>
                                                                                                <xs:restriction
                                                                                                        base="NonEmptyString">
                                                                                                    <xs:maxLength
                                                                                                            value="255"/>
                                                                                                </xs:restriction>
                                                                                            </xs:simpleType>
                                                                                        </xs:element>
                                                                                        <xs:element
                                                                                                name="ProcessingAddress">
                                                                                            <xs:simpleType>
                                                                                                <xs:restriction
                                                                                                        base="NonEmptyString">
                                                                                                    <xs:maxLength
                                                                                                            value="255"/>
                                                                                                </xs:restriction>
                                                                                            </xs:simpleType>
                                                                                        </xs:element>
                                                                                        <xs:element minOccurs="0"
                                                                                                    name="ProcessingApprovalNUmber"
                                                                                                    nillable="true">
                                                                                            <xs:simpleType>
                                                                                                <xs:restriction
                                                                                                        base="xs:string">
                                                                                                    <xs:maxLength
                                                                                                            value="50"/>
                                                                                                </xs:restriction>
                                                                                            </xs:simpleType>
                                                                                        </xs:element>
                                                                                    </xs:all>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="BordergateName">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="NonEmptyString">
                                                                            <xs:maxLength value="500"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element name="Purpose">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="NonEmptyString">
                                                                            <xs:maxLength value="500"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element minOccurs="0" name="RelatedDocuments"
                                                                            nillable="true">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                            <xs:maxLength value="255"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element minOccurs="0" name="LocationQuarantineList"
                                                                            nillable="true">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element maxOccurs="unbounded"
                                                                                        minOccurs="0"
                                                                                        name="LocationQuarantine"
                                                                                        nillable="true">
                                                                                <xs:complexType>
                                                                                    <xs:all>
                                                                                        <xs:element minOccurs="0"
                                                                                                    name="LocationQuarantineName"
                                                                                                    nillable="true">
                                                                                            <xs:simpleType>
                                                                                                <xs:restriction
                                                                                                        base="xs:string">
                                                                                                    <xs:maxLength
                                                                                                            value="255"/>
                                                                                                </xs:restriction>
                                                                                            </xs:simpleType>
                                                                                        </xs:element>
                                                                                        <xs:element minOccurs="0"
                                                                                                    name="LocationQuarantineAddress"
                                                                                                    nillable="true">
                                                                                            <xs:simpleType>
                                                                                                <xs:restriction
                                                                                                        base="xs:string">
                                                                                                    <xs:maxLength
                                                                                                            value="255"/>
                                                                                                </xs:restriction>
                                                                                            </xs:simpleType>
                                                                                        </xs:element>
                                                                                    </xs:all>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="TimeQuarantine">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                            <xs:pattern
                                                                                    value="(\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]) ([01]\d|2[0-3])(:[0-5]\d){2}(\.\d{3})?)?"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element name="TimeQuarantineFrom">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                            <xs:pattern
                                                                                    value="(\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]) ([01]\d|2[0-3])(:[0-5]\d){2}(\.\d{3})?)?"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element name="TimeQuarantineTo">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                            <xs:pattern
                                                                                    value="(\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]) ([01]\d|2[0-3])(:[0-5]\d){2}(\.\d{3})?)?"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element name="SignAddress">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="NonEmptyString">
                                                                            <xs:maxLength value="250"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element name="SignDate">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                            <xs:pattern
                                                                                    value="(\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]) ([01]\d|2[0-3])(:[0-5]\d){2}(\.\d{3})?)?"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element name="SignName">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="NonEmptyString">
                                                                            <xs:maxLength value="250"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element name="SignPosition">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="NonEmptyString">
                                                                            <xs:maxLength value="250"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element minOccurs="0" name="AttachmentList"
                                                                            nillable="true">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element maxOccurs="unbounded"
                                                                                        minOccurs="0" name="Attachment"
                                                                                        nillable="true">
                                                                                <xs:complexType>
                                                                                    <xs:all>
                                                                                        <xs:element name="AttachmentId">
                                                                                            <xs:simpleType>
                                                                                                <xs:restriction
                                                                                                        base="NonEmptyString">
                                                                                                    <xs:maxLength
                                                                                                            value="9"/>
                                                                                                </xs:restriction>
                                                                                            </xs:simpleType>
                                                                                        </xs:element>
                                                                                        <xs:element minOccurs="0"
                                                                                                    name="AttachmentTypeCode"
                                                                                                    nillable="true">
                                                                                            <xs:simpleType>
                                                                                                <xs:restriction
                                                                                                        base="xs:long">
                                                                                                    <xs:maxExclusive
                                                                                                            value="1000000000"/>
                                                                                                    <xs:minInclusive
                                                                                                            value="0"/>
                                                                                                </xs:restriction>
                                                                                            </xs:simpleType>
                                                                                        </xs:element>
                                                                                        <xs:element minOccurs="0"
                                                                                                    name="NameOfAttachment"
                                                                                                    nillable="true">
                                                                                            <xs:simpleType>
                                                                                                <xs:restriction
                                                                                                        base="xs:string">
                                                                                                    <xs:maxLength
                                                                                                            value="255"/>
                                                                                                </xs:restriction>
                                                                                            </xs:simpleType>
                                                                                        </xs:element>
                                                                                        <xs:element name="LinkFile">
                                                                                            <xs:simpleType>
                                                                                                <xs:restriction
                                                                                                        base="NonEmptyString">
                                                                                                    <xs:maxLength
                                                                                                            value="1000"/>
                                                                                                </xs:restriction>
                                                                                            </xs:simpleType>
                                                                                        </xs:element>
                                                                                    </xs:all>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:all>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:all>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:string" name="Signature" nillable="true" minOccurs="0"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="NonEmptyString">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:pattern value="(\s*[^\s]\s*)+"></xs:pattern>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>